html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

#menu {
  display: none;
}
::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #000000;
  color: white;
  min-height: 200vh;
}

.navbar {
  font-family: "Orbitron";
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center; /*sejajar*/
  padding: 1.2rem 3%;
  background-color: rgb(0, 0, 0);
  /*border-bottom: 1px solid rgb(0, 0, 0);*/
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  z-index: 99999;
}

.navbar .navbar-logo {
  font-size: 1.7rem;
  font-weight: 500;
  font-family: "Orbitron";
  background-clip: none;
  background-position: 0;
  background: linear-gradient(
    to right,
    #a3a3a3 0,
    rgb(255, 255, 255) 10%,
    #565656 20%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 4s infinite linear forwards;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  text-decoration: none;
  white-space: nowrap;
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}

.hero {
  min-height: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
}

.hero img {
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  filter: brightness(50%);
}

.hero .content {
  position: relative;
  z-index: 2;
  margin-left: 4%;
  margin-right: 4%;
}

.hero .content h4 {
  position: relative;
  display: flex;
  margin-top: 1rem;
  font-size: 3.4rem;
  color: #ffffff;
  font-weight: 500;
  text-shadow: 0 1px 1px black;
  opacity: 0;
  transform: translateY(10px);
  transition: 1s ease;
  mix-blend-mode: difference;
  align-items: center;
  justify-content: center;
}

.hero .content .h4--visible {
  opacity: 1;
  transform: translateY(0);
}

.hero .content h3 {
  position: relative;
  display: flex;
  color: rgb(223, 223, 223);
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
  transition: 1.7s ease;
  justify-content: center;
  text-shadow: 0 1px 3px black;
  opacity: 0;
  transform: translateX(-8px);
}

.hero .content .h3--visible {
  opacity: 1;
  transform: translateX(0);
}

.hero .content .cta {
  position: absolute;
  display: block;
  transform: translate(-50%, -50%);
  left: 44%;
  justify-content: center;
  text-align: center;
  align-items: center;
  box-shadow: 0 1px 4px rgb(47, 47, 47);
  font-family: "Poppins";
  margin-top: 9rem;
  padding: 0.1% 0.3%;
  font-size: 4rem;
  width: 12rem; /* Ukuran lebar hexagon */
  height: 6.9rem; /* Ukuran tinggi hexagon */
  line-height: 6.9rem;
  color: black;
  background: white;
  clip-path: polygon(50% 15%, 68% 30%, 68% 70%, 50% 85%, 32% 70%, 32% 30%);
  animation: fadeInRotate 1.6s ease-in-out forwards;
  transition: color 0.3s ease;
}

.hero .content .cta:hover {
  background: rgb(
    15,
    15,
    15
  ); /* Membuat background menjadi transparan saat hover */
  color: white; /* Mengubah warna teks agar tetap terlihat */
}

@keyframes fadeInRotate {
  0% {
    opacity: 0;
    transform: rotate(0deg);
    color: rgb(255, 255, 255);
  }
  70% {
    color: white;
  }
  95% {
    color: rgb(33, 33, 33);
  }

  100% {
    opacity: 1;
    transform: rotate(-270deg);
  }
}

.explan {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  margin-top: 3rem;
  min-height: 100vh;
}

.explan img {
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  filter: brightness(70%);
}

.explan .content {
  position: relative;
  z-index: 2;
}

.explan .content h3 {
  align-items: center;
  margin-left: 4%;
  margin-top: -17rem;
  position: relative;
  display: flex;
  color: rgb(223, 223, 223);
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2;
  transition: 1.7s ease;
  text-shadow: 0 1px 3px black;
}

.explan .content .cta {
  margin-left: 1%;
  position: relative;
  display: block;
  margin-top: 2rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  box-shadow: 0 1px 4px rgb(47, 47, 47);
  font-family: "Poppins";
  padding: 0.1% 0.3%;
  font-size: 4rem;
  width: 12rem; /* Ukuran lebar hexagon */
  height: 6.9rem; /* Ukuran tinggi hexagon */
  line-height: 6.9rem;
  color: black;
  background: white;
  clip-path: polygon(50% 15%, 68% 30%, 68% 70%, 50% 85%, 32% 70%, 32% 30%);
  transition: color 0.3s ease;
}

.explan .content .cta:hover {
  color: white;
  background-color: black;
}

.explan1 {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  margin-top: -21rem;
  min-height: 100vh;
}

.explan1 img {
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  filter: brightness(80%);
}

.explan1 .content {
  position: relative;
  z-index: 2;
}

.explan1 .content h3 {
  align-items: center;
  margin-left: 4%;
  margin-top: -17rem;
  position: relative;
  display: flex;
  color: rgb(223, 223, 223);
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2;
  transition: 1.7s ease;
  text-shadow: 0 1px 3px black;
}

.explan1 .content .cta {
  margin-left: 1%;
  position: relative;
  display: block;
  margin-top: 2rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  box-shadow: 0 1px 4px rgb(47, 47, 47);
  font-family: "Poppins";
  padding: 0.1% 0.3%;
  font-size: 4rem;
  width: 12rem; /* Ukuran lebar hexagon */
  height: 6.9rem; /* Ukuran tinggi hexagon */
  line-height: 6.9rem;
  color: black;
  background: white;
  clip-path: polygon(50% 15%, 68% 30%, 68% 70%, 50% 85%, 32% 70%, 32% 30%);
  transition: color 0.3s ease;
}

.explan1 .content .cta:hover {
  color: white;
  background-color: black;
}

.explan2 {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  margin-top: -21rem;
  min-height: 100vh;
}

.explan2 img {
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  filter: brightness(70%);
}

.explan2 .content {
  position: relative;
  z-index: 2;
}

.explan2 .content h3 {
  align-items: center;
  margin-left: 4%;
  margin-top: -17rem;
  position: relative;
  display: flex;
  color: rgb(223, 223, 223);
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2;
  transition: 1.7s ease;
  text-shadow: 0 1px 3px black;
}

.explan2 .content .cta {
  margin-left: 1%;
  position: relative;
  display: block;
  margin-top: 2rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  box-shadow: 0 1px 4px rgb(47, 47, 47);
  font-family: "Poppins";
  padding: 0.1% 0.3%;
  font-size: 4rem;
  width: 12rem; /* Ukuran lebar hexagon */
  height: 6.9rem; /* Ukuran tinggi hexagon */
  line-height: 6.9rem;
  color: black;
  background: white;
  clip-path: polygon(50% 15%, 68% 30%, 68% 70%, 50% 85%, 32% 70%, 32% 30%);
  transition: color 0.3s ease;
}

.explan2 .content .cta:hover {
  color: white;
  background-color: black;
}
