/* Global styles */
body {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #000000;
}

.specifications {
  max-width: 1500px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.close-btn {
  border: 2px solid black;
  font-size: 15px;
  padding: 0.4% 1%;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 400;
  transition: 0.6s ease;
}

.close-btn:hover {
  background-color: black;
  color: white;
}

.specifications-content {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.spec-section {
  width: 48%;
}

.spec-section h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.spec-section p {
  margin: 10px 0;
  font-size: 14px;
}

.spec-section strong {
  font-weight: bold;
  font-size: 14px;
}

hr {
  border: 0;
  border-top: 1px solid #000000;
  margin: 20px 0;
}
.spec-section h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.spec-section p {
  margin: 10px 0;
  font-size: 14px;
}

.spec-section p strong {
  font-weight: bold;
  font-size: 14px;
}
